{% extends "registro/base.html"%}
{% block content %}
  <article class="media content-section">

    <div class="media-body">

      <div class="article-metadata">


            <div>
               <a class="btn btn-secondary btn-sm mt-1 mb-1" href={% url 'gastos_update' object.clave %}>Update</a>
               <a class="btn btn-danger btn-sm mt-1 mb-1" href={% url 'gastos_delete' object.clave %}>Borrar</a>
            </div>

      </div>
      <h2 class="article-title">{{ object.clave }}</h2>
      <p class="article-content">Descripcion : {{ object.descripcion }}</p>
      <p class="article-content">Quincena: {{ object.quincena }}</p>
      <p class="article-content">Monto: {{ object.monto }}</p>
      <p class="article-content">Tipo: {{ object.tipo }}</p>
    </div>
  </article>

{% endblock content %}
